<div class="signup-wrap">
    <div class="center-block t-a_center">
        Установите приложение в ваше сообщество.
        <div class="t-a_center m-t_12">
            <a href="https://vk.com/add_community_app?aid=6227667" target="_blance" class="flat_button">Установить приложение</a>
        </div>
    </div>
</div>