<div class="signup-wrap">
	<div class="page_block_header_inner">Расскажите о себе</div>
	<div class="signup-block t-a_center">
		Создайте мероприятие, чтобы ваши подписчики могли найти спутника на него.
		<div class="t-a_center m-t_20">
			<a data-ng-click="go('/create-event');" class="flat_button big">Создать мероприятие</a>
		</div>
	</div>
</div>