<div class="signup-wrap">
    <div class="page_block_header_inner">Добавьте мероприятие</div>
    <div class="signup-block">
        <div class="field-wrap column-1">
            <input class="column-1" type="text" placeholder="Название мероприятия">
        </div>
        <div class="field-wrap m-t_20 column-1">
            <input class="column-1" type="text" placeholder="Ссылка на покупку билетов">
        </div>
        <div class="field-wrap m-t_20 column-1">
            <textarea class="column-1" placeholder="О мероприятии"></textarea>
        </div>
        <div class="t-a_center m-t_20 column-1">
            <div class="flat_button big">Добавить мероприятие</div>
        </div>
    </div>
</div>