<div class="signup-wrap">
    <div class="page_block_header_inner">
        <span>Начните общение прямо сейчас.</span>
        <div class="notify"></div>
    </div>
    <div class="match-list">
        <a class="item" data-ng-repeat="item in matchesDatas" target="_blank" data-ng-href="{{item.link}}">
            <img data-ng-src="{{item.photo}}" alt="{{item.title}">
            <span class="title">{{item.title}}</span>
            <span class="subtitle">{{item.subtitle}}</span>
        </a>
    </div>
</div>