<div class="signup-wrap">
    <div class="page_block_header_inner">
        <span>Выберите с кем бы хотели пойти</span>
        <div class="notify" data-ng-if="matchesData.matches.length===0"></div>
        <a href="#matches" class="notify active" data-ng-if="matchesData.matches.length>0">{{matchesData.matches.length}}</a>
    </div>
    <div class="play-block">
        <div class="min-profile column-1">
            <img data-ng-src="{{companion.photo}}" alt="">
            <div class="name column-1">{{companion.title}}</div>
            <div class="subtitle column-1">{{companion.subtitle}}</div>
            <div class="column-1 m-b_80">
                <div class="btn-choose yes" data-ng-click="estimate(1)">👍</div>
                <div class="btn-choose no" data-ng-click="estimate(0)">👎</div>
            </div>
        </div>
    </div>
</div>