<div class="signup-wrap">
    <div class="page_block_header_inner">Выберите с кем бы хотели пойти</div>
    <div class="signup-block">
        <div class="min-profile">
            <img data-ng-src="{{userInfo.photo_200}}" alt="">

        </div>
        <div class="no">👎</div>
        <div class="yes"></div>
    </div>
</div>