<div class="signup-wrap">
    <div class="page_block_header_inner">
        <span>Расскажите о себе</span>
    </div>
    <div class="signup-block">
        <div class="min-profile">
            <img data-ng-src="{{userInfo.photo_200}}" alt="">
            <div class="info">
                <div class="name">{{userInfo.name}},
                    <span class="field-wrap" data-ng-if="!userInfo.age">
                        <input type="text" class="number" style="width:125px;" placeholder="Ваш возраст" data-ng-model="userInfo.age">
                    </span>
                    <span class="desc" data-ng-if="userInfo.age > 0">{{userInfo.age}}</span>
                </div>
                <div class="field-wrap">
                    <div class="label">О себе:</div>
                    <textarea data-ng-model="userInfo.about"></textarea>
                </div>
                <div>
                    <div class="flat_button" data-ng-click="signin()">Искать компанию</div>
                </div>
            </div>
        </div>
    </div>
</div>