<div class="signup-wrap">
    <div class="page_block_header_inner">
        <span>Пожалуйста, подождите...</span>
    </div>
    <div class="signup-block">
        <div id="loadFacebookG">
            <div id="blockG_1" class="facebook_blockG"></div>
            <div id="blockG_2" class="facebook_blockG"></div>
            <div id="blockG_3" class="facebook_blockG"></div>
        </div>
    </div>
</div>