html{
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    font-weight: 400;
}
*{
    outline: none;
}
.footer{
    border-top: 1px solid #979797;
    background-color: #FAFBFC;
    height: 53px;
}
.wrapper{
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    display: inline-block;
    margin: auto;
    width: 795px;
    text-align: left;
    background-color: #fff;
}
input[type="text"]{
    background: #fff;
    color: #000;
    margin: 0;
    padding: 3px 8px 0px;
    border-radius: 1px;
    box-sizing: border-box;
    height: 30px;
    /*border: 0 solid;*/
    /*border-left: 1px solid #d3d9de;*/
    border: 1px solid #d3d9de;
    position: relative;
}
textarea{
    background: #fff;
    color: #000;
    margin: 0;
    padding: 9px 8px 0px;
    border-radius: 1px;
    box-sizing: border-box;
    height: 60px;
    /*border: 0 solid;*/
    /*border-left: 1px solid #d3d9de;*/
    border: 1px solid #d3d9de;
    position: relative;
    resize: none;
    float: left;
}
.field-wrap{
    position: relative;
    display: inline-block;
}
/*.field-wrap:before{*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*content: "";*/
    /*height: 8px;*/
    /*width: 1px;*/
    /*display: inline-block;*/
    /*background-color: #d3d9de;*/
    /*z-index: 2;*/
/*}*/
.field-wrap .label{
    font-size: 14px;
    color: #888888;
    line-height: 16px;
    float: left;
    padding: 6px 10px 0px 0px;
}
.page_block_header_inner{
    line-height: 15px;
    /*background-color: #fafbfc;*/
    font-size: 13px;
    color: #656565;
    padding: 0 20px;
    border-bottom: 1px solid #e7e8ec;
}
.page_block_header_inner span{
    padding: 16px 0;
    border-bottom: 1px solid #2A5885;
    margin-bottom: -1px;
    display: inline-block;
}
.flat_button{
    padding: 7px 16px 8px;
    margin: 0;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: #5e81a8;
    color: #fff;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
}
.flat_button.big{
    height: 50px;
    font-size: 16px;
    padding: 18px 16px 8px;
}
.p-l_66{
    padding-left: 66px;
}
.m-t_12{
    margin-top: 12px;
}
.m-t_14{
    margin-top: 14px;
}
.m-t_15{
    margin-top: 15px;
}
.m-t_20{
    margin-top: 20px;
}
.m-t_30{
    margin-top: 30px;
}
.m-b_30{
    margin-bottom: 30px;
}
.m-b_80{
    margin-bottom: 80px;
}
.t-a_center{
    text-align: center;
}
.center-block{
    position: absolute;
    height: 90px;
    width: 100%;
    text-align: center;
    margin: 200px auto;
    font-size: 15px;
    color: #7B808C;
}
.column-1 {
    position: relative;
    min-height: 1px;
    float: left;
    display: block;
    width: 100%;
}
.column-2 {
    position: relative;
    min-height: 1px;
    float: left;
    display: block;
    width: 50%;
}
.column-3 {
    position: relative;
    min-height: 1px;
    float: left;
    display: block;
    width: 33.33333333%;
}
.column-4 {
    position: relative;
    min-height: 1px;
    float: left;
    display: block;
    width: 25%;
}
.column-5 {
    position: relative;
    min-height: 1px;
    float: left;
    display: block;
    width: 20%;
}
.column-6 {
    position: relative;
    min-height: 1px;
    float: left;
    display: block;
    width: 16.66666666%;
}
.column-8 {
    position: relative;
    min-height: 1px;
    float: left;
    display: block;
    width: 12.5%;
}
.column-3_2 {
    position: relative;
    min-height: 1px;
    float: left;
    display: block;
    width: 66.66%;
}

#loadFacebookG{
    width:125px;
    height: 125px;
    display: block;
    position: relative;
    margin:auto;
}
.facebook_blockG{
    background-color: #5e81a8;
    border:3px solid #5e81a8;
    float:left;
    height:89px;
    margin-left:7px;
    width:23px;
    opacity:0.1;
    animation-name:bounceG;
    -o-animation-name:bounceG;
    -ms-animation-name:bounceG;
    -webkit-animation-name:bounceG;
    -moz-animation-name:bounceG;
    animation-duration:1.5s;
    -o-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    transform:scale(0.7);
    -o-transform:scale(0.7);
    -ms-transform:scale(0.7);
    -webkit-transform:scale(0.7);
    -moz-transform:scale(0.7);
}

#blockG_1{
    animation-delay:0.45s;
    -o-animation-delay:0.45s;
    -ms-animation-delay:0.45s;
    -webkit-animation-delay:0.45s;
    -moz-animation-delay:0.45s;
}
#blockG_2{
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
}

#blockG_3{
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
}



@keyframes bounceG{
    0%{
        transform:scale(1.2);
        opacity:1;
    }

    100%{
        transform:scale(0.7);
        opacity:0.1;
    }
}

@-o-keyframes bounceG{
    0%{
        -o-transform:scale(1.2);
        opacity:1;
    }

    100%{
        -o-transform:scale(0.7);
        opacity:0.1;
    }
}

@-ms-keyframes bounceG{
    0%{
        -ms-transform:scale(1.2);
        opacity:1;
    }

    100%{
        -ms-transform:scale(0.7);
        opacity:0.1;
    }
}

@-webkit-keyframes bounceG{
    0%{
        -webkit-transform:scale(1.2);
        opacity:1;
    }

    100%{
        -webkit-transform:scale(0.7);
        opacity:0.1;
    }
}

@-moz-keyframes bounceG{
    0%{
        -moz-transform:scale(1.2);
        opacity:1;
    }

    100%{
        -moz-transform:scale(0.7);
        opacity:0.1;
    }
}
/*--------SignUP---------*/
.signup-block{
    position: relative;
    /*margin: auto;*/
    display: block;
    width: 100%;
    margin: 66px auto 40px auto;
    max-width: 560px;
}
.min-profile{
    width: 100%;
    display: inline-block;
}
.min-profile img{
    width: 200px;
    height: 200px;
    float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.min-profile .info{
    float: left;
    display: inline-block;
    margin-left: 17px;
    margin-top: 5px;
}
.min-profile .name{
    color: #2a5885;
    font-weight: 500;
    font-size: 19px;
    -webkit-font-smoothing: subpixel-antialiased;
}
.min-profile .desc{
    color: #939393;
    font-style: 12px;
}
.min-profile .field-wrap textarea{
    display: block;
    width: 100%;
    margin: 7px 0 28px;
}
.hint{
    position: absolute;
    bottom: 0px;
    right: 5px;
    margin-bottom: 5px;
    font-size: 10px;
    color: #aaa;
}
.play-block img{
    float: none;
}
.play-block{
    position: relative;
    /*margin: auto;*/
    display: block;
    width: 100%;
    margin: 30px auto 40px auto;
    max-width: 200px;
    text-align: center;
}
.play-block .name{
    padding: 16px 0 9px;
    font-size: 19px;
    color: #2A5885;
    text-align: left;
}
.play-block .subtitle{
    font-size: 14px;
    color: #000000;
    margin-bottom: 30px;
    text-align: left;
}
.play-block .btn-choose{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    font-size: 32px;
    height: 75px;
    width: 75px;
    text-align: center;
}
.play-block .btn-choose.no{
    background: #E5EBF1;
    float: left;
    line-height: 82px;
}
.play-block .btn-choose.yes{
    background: #5E81A8;
    float: right;
    line-height: 76px;
}
.play-block .btn-choose.active{
    opacity: .7;
}
.notify{
    position: absolute;
    right: 20px;
    top: 13px;
    width: 16px;
    height: 18px;
    display: inline-block;
    padding-right: 10px;
    font-size: 13px;
    color: #E64646;
    text-align: left;
    line-height: 18px;
    background: url(../images/ic_head_notify.png) right top no-repeat;
    opacity: .1;
    text-decoration: none;
}
.notify.active{
    cursor: pointer;
    opacity: 1;
}
.match-list{
    position: relative;
    min-height: 1px;
    display: inline-block;
    width: 100%;
    padding: 25px 0;
    margin-bottom: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.match-list .item{
    position: relative;
    min-height: 1px;
    float: left;
    display: inline-block;
    width: 33.3333%;
    padding: 15px 40px;
    height:260px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}
.match-list .item .title{
    color: #2a5885;
    font-weight: 500;
    font-size: 16px;
    padding:7px 0 5px 0;
    -webkit-font-smoothing: subpixel-antialiased;
    display: block;
}
.match-list .item .subtitle{
    color: #aaa;
    font-weight: 300;
    font-size: 13px;
    -webkit-font-smoothing: subpixel-antialiased;
}
.match-list .item img{
    width: 100%;
    min-height: 164px;
    height: auto;
    border-radius: 100%;
    display: block;
}
@media(max-width: 790px){
    .hint{display: none;}
    .wrapper{
        width:100%;
    }
    .flat_button{
        position: relative;
        min-height: 1px;
        float: left;
        display: block;
        width: 100%;
        height: 50px;
        font-size: 16px;
        padding: 18px 16px 8px;
    }
    .signup-block{
        margin-top: 30px;
        text-align: center;
    }
    .min-profile img{
        float: none;
    }
    .min-profile .info{
        width: 100%;
        margin-left: 0;
    }
    .min-profile .name{
        margin-top: 10px;
        margin-bottom: 10px;

    .play-block .min-profile .name{
        padding-top: 0;
        padding-bottom: 0;
    }
}